body{
    margin: 0;
    padding: 0;
}
.wrapper{
    margin: 100px auto;
    padding: 0;
    width: 400px;
    height: 400px;
    background: #3b5998;
    border-radius: 25px;
    overflow: hidden;
}
.Ftop{
    width: 130px;
    height: 320px;
    left: 180px;
    top: 80px;
    background: azure;
    position: relative;
    border-top-left-radius: 90px;
}
.Fshaper{ 
    background-color: #3b5998;
    width: 100px;
    height: 260px;
    top: -180px;
    left: 250px;
    position: relative;
    border-top-left-radius: 30px;


}
.Fcross{
    width: 160px;
    height: 60px;
    top: -360px;
    background: azure;
    left: 130px;
    position: relative;


}
.Fcrossfix2{
    width: 30px;
    height: 10px;
    top: -499px;
    left: 270px;
    background: #3b5998;
    position: relative;
}
.Fcrossfix3{
    width: 30px;
    height: 10px;
    top: -451px;
    left: 270px;
    background: #3b5998;
    position: relative;
}